---
---

<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
    </head>
    <body>
        <div id="container">
            <h1><code>compressHTML</code> whitespace testing</h1>
            <div id="left">
                <h2>Separated by spaces</h2>

                <h3>all text</h3>
                <p>
                    A B C
                </p>
                <h3>all spans</h3>
                <p>
                    <span>A</span> <span>B</span> <span>C</span>
                </p>
                <h3>text span text</h3>
                <p>
                    A <span>B</span> C
                </p>
                <h3>text span</h3>
                <p>
                    A <span>B</span>
                </p>
                <h3>span text</h3>
                <p>
                    <span>A</span> B
                </p>
            </div>
            <div id="right">
                <h2>Separated by newlines</h2>

                <h3>all text</h3>
                <p>
                    A
                    B
                    C
                </p>
                <h3>all spans</h3>
                <p>
                    <span>A</span>
                    <span>B</span>
                    <span>C</span>
                </p>
                <h3>text span text</h3>
                <p>
                    A
                    <span>B</span>
                    C
                </p>
                <h3>text span</h3>
                <p>
                    A
                    <span>B</span>
                </p>
                <h3>span text</h3>
                <p>
                    <span>A</span>
                    B
                </p>
            </div>
        </main>
    </body>
</html>

<style>
    #container {
        margin: 20px;
    }

    #left, #right {
        float: left;
    }

    #left {
        margin-right: 40px;
    }
</style>
